{{define "content"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Welcome to #Event</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Optional custom theme -->
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .top-margin{
            margin-top: 7px;
        }
        .row-fix{
        position: fixed;
            top: 50%;
            left: 50%;
            margin-left: -200px;
        }
        .carousel-inner > .item > img {
            height: 500px;
            width: 500px;
            overflow: hidden;
            margin: 0 auto;
        }
        .top-buffertop {
            margin-top:100px;
        }
        .top-bufferbottom {
            margin-bottom: 100px;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

</head>

<!--- SIDOMENY
============================================================================================= -->
    
    <nav class="Side-meny">
        <div class="col-xs-4 col-sm-2 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item">Your events</a>
            <a href="/Files/overview_events.html" class="list-group-item">All events</a>
            <a href="#" class="list-group-item">Events close to you</a>
            <a href="#" class="list-group-item">Invites</a>
            <a href="create_event.html" class="list-group-item">Create a event(här)</a>
          </div>
        </div><!--/.sidebar-offcanvas-->
    </nav>
    

<!--- EVENT FLÖDET
=================================================================================-->
    
    <nav class="Event-flow">
        <div class="col-xs-4 col-sm-8" id="create-event">
            
            <form class="form-horizontal" role="form">
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="event">Event:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="event" placeholder="Enter event name">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="date">Date:</label>
                    <div class="col-sm-4"> 
                        <input type="date" class="form-control" id="date">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="place">Place:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="place" placeholder="Enter place for event">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="picture">Piture:</label>
                    <div class="col-sm-4">
                        <input type="file" class="form-control" id="picture">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="info">Information:</label>
                    <div class="col-sm-4">
                        <br><textarea placeholder="Enter information about your event" rows="4" cols="36"></textarea>
                    </div>
                </div>
                
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-default" href="/Files/overview_events.html" role="button">Cancel</a>
                        <a class="btn btn-default" href="/Files/your_events.html" role="button">Create</a>
                    </div>
                </div>
                
            </form>
        </div>
    </nav> 
    
<body>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>

{{end}}