{{define "content"}}


<!--- SIDOMENY
============================================================================================= -->
    
    {{template "sidemeny"}}

<!--- SIDO MENY
=================================================================================-->

{{template "sidemeny"}}
    
<!--- EVENT FLÖDET
=================================================================================-->
    
    <nav class="Event-flow">
        <div class="col-xs-4 col-sm-8" id="create-event">
            
            <form class="form-horizontal" role="form">
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="event">Event:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="event" placeholder="Enter event name">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="date">Date:</label>
                    <div class="col-sm-4"> 
                        <input type="date" class="form-control" id="date">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="place">Place:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="place" placeholder="Enter place for event">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="picture">Piture:</label>
                    <div class="col-sm-4">
                        <input type="file" class="form-control" id="picture">
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="control-label col-sm-2" for="info">Information:</label>
                    <div class="col-sm-4">
                        <br><textarea placeholder="Enter information about your event" rows="4" cols="36"></textarea>
                    </div>
                </div>
                
                <div class="form-group"> 
                    <div class="col-sm-offset-2 col-sm-10">
                        <a class="btn btn-default" href="/Files/overview_events.html" role="button">Cancel</a>
                        <a class="btn btn-default" href="/Files/your_events.html" role="button">Create</a>
                    </div>
                </div>
                
            </form>
        </div>
    </nav> 

{{end}}