<!DOCTYPE html>
<html>
<head lang="en">
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'> </script>
    <link href="demoStyle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>API Demo for TrackStat</title>
</head>
<body>
<h1> API Demo</h1>
<h2>Get</h2>
<ul>
    <li>endpoint/Users/id/</li>
    <li>endpoint/Event/id/</li>
    <li>endpoint/Event/</li>
</ul>
<h2>Post</h2>
<ul>
    <li>endpoint/Users/</li>
    <li>endpoint/Event/</li>
</ul>
    
<hr class="featurette-divider"></hr>   

<!-- ------------------- Get User ----------------- -->
    
<h3>Get User</h3>
<div class="description collapsible"> Retrieves the ID and name of the user.</div>
<br>
<div class="arguments collapsible"> GET variables:
    <div class="tabulate">
        Facebook IDToken: The ID of the user 
    </div>
</div><br>

<span class="URI">GET http://130.240.170.56:8000/Users/id/ </span><input type="text" class="input"><button class="try" data-index="0">Try it</button>
    
<hr class="featurette-divider"></hr>   

<!-- ------------------- Get Event By ID ----------------- -->
    
<h3>Get User</h3>
<div class="description collapsible"> Retrieves the information from event with the ID.</div>
<br>
<div class="arguments collapsible"> GET variables:
    <div class="tabulate">
        Event_ID: The ID of the event 
    </div>
</div><br>

<span class="URI">GET http://130.240.170.56:8000/Event/id/ </span><input type="text" class="input"><button class="try" data-index="0">Try it</button>

<hr class="featurette-divider"></hr>   

<!-- ------------------- Get All Events ----------------- -->
    
<h3>Get User</h3>
<div class="description collapsible"> Retrieves all the events.</div>
<br>
<div class="arguments collapsible"> GET variables:
    <div class="tabulate">
        No varibles needed:  
    </div>
</div><br>

<span class="URI">GET http://130.240.170.56:8000/Event/ <button class="try" data-index="0">Try it</button>

<hr class="featurette-divider"></hr>   

<!-- ------------------- Post User ----------------- 
    
<h3>Get User</h3>
<div class="description collapsible"> Adds a user with facebook IDToken and name.</div>
<br>
<div class="arguments collapsible"> Post variables:
    <div class="tabulate">
        Facebook IDToken: The ID of the user
        Facebook Name: The name of the user
    </div>
</div><br>

<b>Try it</b><br>
<span class="URI">endpoint/Users/id/</span><input type="text" class="input"><button class="try" data-index="0">Try it</button>

<hr class="featurette-divider"></hr>   

<!-- ------------------- Post Event ----------------- 
    
<h3>Get User</h3>
<div class="description collapsible"> Adds an event with all information.</div>
<br>
<div class="arguments collapsible"> Post variables:
    <div class="tabulate">
        Facebook IDToken: The ID of the user 
    </div>
</div><br>

<b>Try it</b><br>
<span class="URI">endpoint/Event/</span><input type="text" class="input"><button class="try" data-index="0">Try it</button>

-->

</body>
<script>
    
 $(".try").click(function()
    {
        var index = $(this).attr("data-index");
        var URI = ($($(".URI")[index])).text();
        URI = URI.slice(0, URI.length-1);
        var arguments = $($(".input")[index]).val();
        var individual = arguments.split("&");
        var prepared = {};
        for (var i of individual)
        {
            var temp = i.split("=");
            prepared[temp[0]] = temp[1];
        }
        $.ajax({
            type: "GET",
            url: URI,
            data: prepared
        }).done(function(data)
        {
            var $div = $($(".result")[index]);
            $($(".json")[index]).html(data);
            $div.show();
        })
    });

</script>
</html>