{{define "text"}}
	<h1>Home</h1>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eros nibh, fringilla at lacinia et, pretium et lacus. Suspendisse finibus purus vitae erat vulputate vehicula. Nunc mollis nisi nec lorem sollicitudin posuere. Aliquam aliquam venenatis enim et cursus. Vivamus pretium ligula id orci egestas, ut maximus nibh faucibus. Suspendisse quis.</p>
        <p><code>A place to try different things out</code>.</p>
{{end}}
