{{define "map"}} 

<!--
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }

    </style>

-->

    <div id="floating-panel">
      <input id="address" type="textbox" value="Luleå, Sweden">
      <input id="submit" type="button" value="Geocode">
    </div>
    <div id="map"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: {lat: -34.397, lng: 150.644}
        });
        var geocoder = new google.maps.Geocoder();

        document.getElementById('submit').addEventListener('click', function() {
        geocodeAddress(geocoder, map);
        });
        }

        function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
                }
        });
        }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpWG18-q2ubos2VmetQlOteN2MYf3BBe4&signed_in=true&callback=initMap"
        async defer></script>


<!-- SKAPA KNAPPEN FÖR KARTAN
 =================================================================================-->


 <!-- Vår karta 


<!-- Button trigger modal 

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Show map
</button>

 <!-- Modal
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Location Event</h4>
      </div>
      <div class="modal-body">
      <div id="map"></div>
      </div>
    
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>




        <style>
        #map {
                width: 500px;
                height: 400px;
              }
        </style>
        <script src="https://maps.googleapis.com/maps/api/js"></script>

        <script>
              function initialize() {
                var mapCanvas = document.getElementById('map');
                var mapOptions = {
                  center: new google.maps.LatLng(44.5403, -78.5463),
                  zoom: 8,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                }
                var map = new google.maps.Map(mapCanvas, mapOptions)
              }
              google.maps.event.addDomListener(window, 'load', initialize);
        </script>

-->

{{end}}
