{{define "content"}} 

<!-- SIDO MENY
================================================================================= -->
    
{{template "sidemeny"}}

<!-- EVENT FLÖDET 
================================================================================= --> 
    
<nav class="Event-flow">
    <div class="col-xs-10 col-sm-7" id="flow">
    	<script type="text/javascript">
			getEvent(9001);
    	</script>
    	
        <a href="/show_event" class="list-group-item">
        	


        </a>

    </div>
</nav>

<!-- SKAPA EVENT KNAPPEN
================================================================================= -->

{{template "eventform"}}

{{end}}