{{define "content"}} 

<!-- You gets send to this page if your not logged in and presses "event" on the navbar, you cannot create a event.
This is only possible if you're logged in -->

<!-- SIDO MENY
================================================================================= -->
    
{{template "sidemeny2"}}

<!-- EVENT FLÖDET 
================================================================================= --> 

<script type="text/javascript">
// When page loads gets all event from db
    window.onload = function() {
		getAllEvent()
	};
</script>

<!-- Here a nice list of the events in db is created -->    
<nav class="Event-flow" id="nav">
    <div class="col-xs-10 col-sm-7 panel panel-default" id="flow">
    
    </div>
</nav>


{{end}}