{{define "content"}} 

<!-- You gets send to this page if your logged in and presses "event" on the navbar, you can also create a event.
This is not possible if you're not logged in -->

<!-- SIDO MENY
================================================================================= -->
    
{{template "sidemeny"}}

<!-- EVENT FLÖDET 
================================================================================= --> 

<script type="text/javascript">
// When page loads gets all event from db
    window.onload = function() {
    	console.log("Nu körs jag");

        FB.getLoginStatus(function(response) {
            if (response.status === 'connected') {
            } else {
                console.log("not_authorized");
                window.location = "/";
            }
        });
        getAllEvent();
    };

</script>

<!-- Here a nice list of the events in db is created -->   
<nav class="Event-flow" id="nav">
    <div class="col-xs-10 col-sm-4 panel panel-default" id="flow">

    </div>
</nav>

<!-- SKAPA EVENT KNAPPEN
================================================================================= -->
 
{{template "eventform"}}

{{end}}
