{{define "content"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Welcome to #Event</title>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Optional custom theme -->
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .carousel-inner > .item > img {
            height: 500px;
            width: 500px;
            overflow: hidden;
            margin: 0 auto;
        }
        .top-buffertop {
            margin-top:100px;
        }
        .top-bufferbottom {
            margin-bottom: 100px;
        }
    </style>

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">

</head>

<!--- SIDOMENY
============================================================================================= -->
   <!--
    <nav class="Side-meny">
        <div class="col-xs-4 col-sm-2 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item">Your events</a>
            <a href="#" class="list-group-item">All events(här)</a>
            <a href="#" class="list-group-item">Events close to you</a>
            <a href="#" class="list-group-item">Invites</a>
            <a href="/createevent" class="list-group-item">Create a event</a>
          </div>
        </div><!/.sidebar-offcanvas
    </nav>
 -->
    
  <!--  {{template "sidemeny"}}  -->
    

<!--- EVENT FLÖDET
=================================================================================-->
    
    <nav class="Event-flow">
        <div class="col-xs-10 col-sm-7" id="flow">
            <a href="#" class="list-group-item">HEJ</a>
        </div>
    </nav>

<!--- SKAPA EVENT KNAPPEN
=================================================================================-->
    
    <nav class="Create-event-button">
        <div class="col-xs-4 col-sm-2 sidebar-offcanvas" id="button">
            <p><a class="btn btn-primary btn-lg" href="/createevent" role="button">+ Skapa event</a></p>
        </div>
    </nav>

<body>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

</body>
</html>

{{end}}