{{define "sidemeny"}}
    
<!--- SIDO MENY
=================================================================================-->

 <nav>
        <div class="col-xs-4 col-sm-2 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <a href="#" class="list-group-item">Your events</a>
            <a href="/events" class="list-group-item">All events</a>
            <!--<a href="#" class="list-group-item">Events close to you</a>
            <a href="#" class="list-group-item">Invites</a>-->
          </div>
        </div>       
 </nav>
    
{{end}}