{{define "content"}}

<!-- Carousel
================================================== 

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         Indicators 
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           <li data-target="#carousel-example-generic" data-slide-to="2"></li>   
        </ol> 

         Wrapper for slides -->
        <div class="carousel-inner" role="listbox" id="slides">



        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

<!-- End carousel -->

<!-- Marketing messaging and featurettes -->

<!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing top-buffertomarketing top-buffertop">

        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider"></hr>

        <div class="row featurette top-buffertop top-bufferbottom">
            <div class="col-md-7">
                <h2 class="featurette-heading"> <span class="text-muted"></span></h2>
                <p class="lead">Detta är en hemsida gjord för kursen M7011E.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="static/Pictures/Cute_Cat.jpg" alt="Generic placeholder image" width="300" height="300">
            </div>
        </div>

        <hr class="featurette-divider"></hr>

        <div class="row featurette top-buffertop top-bufferbottom">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading"><span class="text-muted"></span></h2>
                <p class="lead"></p>
            </div>
        </div>

        <!-- /END THE FEATURETTES -->
    </div>

{{end}}