{{define "content"}} 

<!-- EVENTET
================================================================================= --> 
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/> 

<title>Google Maps Geocoding Demo 1</title> 
<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>   

<script type="text/javascript">

// When page load, get eventid from cookie and then get event from db
    window.onload = function(){
        var eventid = getEventid_Cookie("event");
        getEvent(eventid);
    };

</script>

<!-- Shows the data from event in a nice list  -->
<nav class="Event-flow">
    <div class="col-xs-12 col-sm-3 col-sm-offset-1 panel panel-default" id="flow">

        <h1 id="Event_name2"> </h1>
    	<p id="Address2">Address: </p>
    	<p id="Zipcode2">Zipcode: </p> 
    	<p id="Date2">Date: </p>
    	<p id="Description2">Info: </p>
    	<img src="" id="Photo2" class="top-imgbottom"> </img>
       
    </div>
</nav>

<body> 

<div class="col-xs-10 col-sm-4" id="flow">

<div class="col-xs-10 col-sm-6 panel panel-default" id="map" style="width: 400px; height: 300px;"></div> 

<script type="text/javascript"> 

function success(position) {
  var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
  return latlng;
}

// Takes address from event and showes it on map      
function geoaddress(data){

    var geoaddress = data.Address;
    var pos;
    var geozipcode = data.Zipcode;
    var address = geoaddress + ", " + geozipcode + ", " + 'SV';
    var map = new google.maps.Map(document.getElementById('map'), { 
       mapTypeId: google.maps.MapTypeId.TERRAIN,
       zoom: 13
    });

   var geocoder = new google.maps.Geocoder();

    if (navigator.geolocation){
      pos = navigator.geolocation.getCurrentPosition(success);
      console.log(pos);
      } else {
      error('Geo Location is not supported');
    }

   geocoder.geocode({
      'address': address
   }, 
   function(results, status) {
      if(status == google.maps.GeocoderStatus.OK) {
        var marker = new google.maps.Marker({
          position: results[0].geometry.location,
          map: map,
          title:"The event is here!"
        });
        var marker = new google.maps.Marker({
          position: latlng,
          map: map,
          title:"You are here!"
        });
        map.setCenter(results[0].geometry.location);
      }
   });
}

</script> 

</body>

{{end}}
